.error-404
   background-color #fff
   width 300px
   height 300px
   margin 5em auto
   p
    text-align center
    padding 1em 0
    a
        color #666
        font-size 1.0em
        text-decoration none
    a:hover
        color #58a8c1
   img
        width 300px
        height 300px