.error-404{background-color:#fff;width:300px;height:300px;margin:5em auto;}
.error-404 p{text-align:center;padding:1em 0;}
.error-404 p a{color:#666;font-size:1em;text-decoration:none}
.error-404 p a:hover{color:#58a8c1}
.error-404 img{width:300px;height:300px}
