extends layout

block content
  form(method="post", action="/session/_create")
    p
      label(for="title") 标题:
        input(type="text", name="title", value="一个分享")
    p
      label(for="speakers") 分享者:
        input(type="text", name="speakers", value="七念")
    p
      label(for="from") 开始时间:
        input(type="time", name="from", value="")
    p
      label(for="to") 结束时间:
        input(type="time", name="to", value="")
    p
      label(for="desc") 简介:
        input(type="text", name="desc", value="hello world")
    p.buttons
        input(type="submit", value="创建")