extends ../layout

block head
  link(type="text/css", rel="stylesheet", href="/css/session/list.css")

block header  
  header
    h1
      a.icon-back(href="#")
      a(href="/party/create") #{title}
     