extends ../layout

block content

    link(type="text/css", rel="stylesheet", href="/css/feedback-count.css")

    header#header
        a.header-logo(href="") EUREKA
    div.content
        div.count-img.J_CountImg ★
        div.session-info
            h2 七念队-尤里卡的逆袭
            div.count
                em.J_StarCount 0

        ul.session-list
            li.grid
                b.g-u.count-num 500
                span.g-u.text 《鱼相的艳遇》
            li.grid
                b.g-u.count-num 400
                span.g-u.text 《七念的故事》
            li.grid
                b.g-u.count-num 300
                span.g-u.text 《水儿的惆怅》
            li.grid
                b.g-u.count-num 200
                span.g-u.text 《筱谷的冷笑话》
            li.grid
                b.g-u.count-num 100
                span.g-u.text 《棪木搞基去了》

    script(src="/js/socket.io/socket.io.min.js")
    script(type='text/javascript')
        KISSY.config({
            packages:[
            {
            name:"feedback",
            path:"/js/",
            charset:"utf-8"
            }]
        });
        KISSY.use('feedback/init',function(S,fnInit){
            fnInit();
        })

