head
  title= docTitle
  <meta name="viewport" content="width=device-width">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  script(src="/js/jquery.js")
  script(src="/js/protoFluid3.02.js") 
  link(type="text/css", rel="stylesheet", href="/session/style.css")