extends ../layout


block head
  link(type="text/css", rel="stylesheet", href="/css/session/list.css")

block header  
  header
    h1
      a.icon-back(href="#")
      a(href="/party") #{title}
      a.icon-add(href="#")

block content
    div.main#session-list-page
      div#session-list-wrap(data-party-id="#{id}")
      script#J_TemplateSession(type="javascript/template")
        div#party.J_PartyOpts
          h2.title {{title}}
          div.from
            label.normal 时间：
            span {{time}}
          div.from
            label.normal 地点：
            span {{location}} 
          i.icon-code#J_ViewOriginal
          div.party-opts
            i.icon-edit
            i.icon-del

        ul#session-list
          {{#each sessions}}
          li.J_SessionOpts
            div.session-info
              p.time {{from}} - {{to}}
              p.title {{title}}
            div.session-opts
              i.icon-add-session
              i.icon-edit
              i.icon-del
              i.icon-push
          {{/each}}

        div.add-session-bar
          i.icon-add-session
          span.text.large 新增一个分享
      div#code
        img(src="http://img02.taobaocdn.com/tps/i2/T1SPeoXE0XXXbgvWvq-249-254.png")
        
    script
        KISSY.use("node, session/list", function(S, Node, SessionList){
            S.ready(function(){
                SessionList({
                    el: "#session-list-wrap",
                    tpl: S.one("#J_TemplateSession").html()
                }).render();
            });
        });
