extends ../layout

block content
  //div.bar
  //  h1 #{docTitle}
  div.content
    div.mainCard
      div.row
        div.msg
          if type == 'del'
            #{num}条分享已经被删除
          else if type == 'update'
            #{num}条分享已经被更新
          else if type == '404'
            未找到相应的请求
      div.lastrow
