extends ../layout

block head
    link(type="text/css", rel="stylesheet", href="/feedback/result.css")

block content
    input(type="hidden",value="#{sessionId}")#J_SessionId
    input(type="hidden",value="#{partyId}")#J_PartyId
    div.content
        div.session-info
            div.count
                em.J_StarCount 0

        div.stars-wrapper
            div.count-img.J_Stars

        ul.session-list
            each session, i in sessions
                if session.count
                    li.grid
                        b.g-u.count-num #{session.count}
                        span.g-u.text #{session.title}

    script(src="/js/socket.io/socket.io.min.js")
    script(type='text/javascript')
        KISSY.config({
            packages:[
            {
            name:"feedback",
            path:"../../../",
            charset:"utf-8"
            }]
        });
        KISSY.use('feedback/init',function(S,fnInit){
            fnInit();
        })

