extends layout
block content
    link(rel='stylesheet', href='/error/404.css')
    article
        div.error-404
            p
                a(href="/") 返回首页
            img(src="http://img02.taobaocdn.com/tps/i2/T1QPSrXw8iXXX0086k-354-364.png")

