header
    - if(typeof backUrl == 'undefined') 
        - var backUrl = ""
    a.back-icon-wrapper(href="#{backUrl}")
        i.icon-back
    h1 #{docTitle}  
        - if (typeof hasAddIcon != 'undefined')
            a.icon-add(href="/party/create")
