doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/global/css/style.css')
    script(src="http://a.tbcdn.cn/s/kissy/1.3.0/seed-min.js")
    script(src="/global/js/config.js")
  body
    block content
