extends layout

block content
    div.bar
        h1 创建分享会
    div.party-list
    script(type="javascript/template", id="J_TemplateParty")
        section.party-item
            article.party-info
                h1 {{title}}
                div.party-time 时间:{{time}}
                div.party-loc 地点:{{location}}
        
