extends layout

block head
    link(type="text/css", rel="stylesheet", href="/party/css/style.css")

block content
    div.sprite.code-icon
    div.sprite.add-icon
    div.sprite.add-session-icon
    div.sprite.edit-icon
    div.sprite.del-icon
    div.sprite.push-icon
    div.sprite.broadcast-icon
    div.sprite.back-icon
    div.sprite.feedback-icon
    div.sprite.star-solid-icon
    div.sprite.star-hollow-icon
