body
    background-color #23658b
    height 100%
header
    height 50px
    background-color #fff
.count
    width 200px
    color #fff
    font-size 3em
    margin 40px auto
.count-img
    font-size 10em
    color #fff
    position absolute
    top 50%
    left 50%
    margin 0 -130px