// reset css provide by stylus 
global-reset()


/*
*
*  Golden Grid System (1.0) <http//goldengridsystem.com/>
*  by Joni Korpi        <http//jonikorpi.com/>
*  licensed under MIT     <http//opensource.org/licenses/mit-license.php>
*
*/


//
// Important numbers
//

line = 24
column = 100% / 18
font-size = 16
em = font-size * 1

/*
*
* Zoomable baseline grid
* type size presets
*
*/

body
  /* 16px / 24px */
  font-size (font-size / 16) * 1em
  line-height (line / em) * 1em

.small 
  /* 13px / 18px */
  font-size ((font-size*0.8125) / em) * 1em
  line-height ((line*0.75) / (font-size*0.8125)) * 1em

.normal, h3 
  /* 16px / 24px */
  font-size (font-size / em) * 1em
  line-height (line / em) * 1em /* 24 */

.large, h2, h1 
  /* 26 / 36px */
  font-size (26 / em) * 1em
  line-height ((line*1.5) / 26) * 1em

hude(n=1)
  /* 42px / 48px */
  font-size (42 / em) * 1em
  line-height ((line*2) / 42) * 1em

.huge 
  hude()

.massive 
  /* 68px / 72px */
  font-size (68 / em) * 1em
  line-height ((line*3) / 68) * 1em

.gigantic 
  /* 110px / 120px */
  font-size (110 / em) * 1em
  line-height ((line*5) / 110) * 1em


.sprite
    background url("http://img04.taobaocdn.com/tps/i4/T1ObamXB0fXXX.tgco-62-332.png") 0 0 no-repeat
    display inline-block
.code-icon
    background-position 0 0
    width 24px
    height 26px
.add-icon
    background-position 0 -36px
    width 32px
    height 32px
.add-session-icon
    background-position 0 -83px
    width 23px
    height 23px
.edit-icon
    background-position 0 -122px
    width 23px
    height 24px
.del-icon
    background-position 0 -157px
    width 22px
    height 21px
.push-icon
    background-position 0 -190px
    width 24px
    height 22px
.broadcast-icon
    background-position -37px -191px
    width 24px
    height 22px
.back-icon
    background-position 0 -228px
    width 14px
    height 15px
.feedback-icon
    background-position 0 -228px
    width 36px
    height 32px
.star-solid-icon
    background-position 0 -313px
    width 24px
    height 24px
.star-hollow-icon
    background-position -38px -313px
    width 24px
    height 24px

