@import 'nib'

html, body
  height: 100%
  overflow: hidden

body
  background-color: #58a8c1
//
//.dragswitch-dragging, .dragswitch-dragging *
//  transition(none) !important

header
  position: absolute
  width: 100%
  background-color: #303030
  height: (50/16)*1em
  z-index: 9999
  
  a 
    &.back-icon-wrapper
      border-color: #fff #303030 #303030 #fff
      border-width: (25/16)*1em
      border-style: solid 

      height: 0
      width: 0 
      line-height: 0 

      position: absolute
      top: 0
      left: 0  
      .icon-back
        position: absolute
        top: -13px
        left: -20px
    &.icon-add
      position: absolute
      top: (6/16)*1em
      right: (12/16)*1em

  h1  
    color: #fff
    text-align: center
    
    height: (50/26)*1em
    line-height: (50/26)*1em


.panel
  height: 100%
  white-space: nowrap
  transition(transform .3s ease-out 0s)


.mainCard
  box-sizing(border-box)
  height: 100%
  overflow: auto
  -webkit-overflow-scrolling: touch
  padding: 4.8em 1.3em 1.3em
  display: inline-block
  width: 90% !important
  vertical-align: top

.party-list .mainCard:first-child 
  width: 90% !important


//.main
//    height 385px
//    overflow auto
//    background-color #fff
//    margin 25px 25px

