body 
  background-color: #58a8c1

header
  h1
    background-color: #303030
    height: 50px

    text-align: center
    position: relative

    a 
      color: #fff
      text-decoration: none
      line-height: 50px

      &:visited 
        color: #fff
        text-decoration: none

      &.icon-back
        position: absolute
        top: 10px
        left: 0
      &.icon-add
        position: absolute
        top: 10px
        right: 20px

.content
    background-color: #58A8C1
    padding: 20px

.mainCard
  background-color: #FFF
  -webkit-box-shadow: -1px 3px 11px #555
  box-shadow: -1px 3px 11px #555

//.main
//    height 385px
//    overflow auto
//    background-color #fff
//    margin 25px 25px

