@import 'nib'

html, body
  height: 100%
  overflow: hidden

body
  background-color: #58a8c1

header
  position: absolute
  width: 100%
  background-color: #303030
  height: (50/16)*1em
  
  a 
    &.back-icon-wrapper
      border-color: #fff #303030 #303030 #fff
      border-width: (25/16)*1em
      border-style: solid 

      height: 0
      width: 0 
      line-height: 0 

      position: absolute
      top: 0
      left: 0  
      .icon-back
        position: absolute
        top: -13px
        left: -20px
    &.icon-add
      position: absolute
      top: (10/16)*1em
      right: (20/16)*1em

  h1  
    color: #fff
    text-align: center
    
    height: (50/26)*1em
    line-height: (50/26)*1em


.panel {
  height: 100%;
}


///* panel */
//
///* iPad 及以下，以及所有小于（不等于）960宽度的平板电脑 */
//@media only screen and (max-width: 959px)
//  .panel
//    height: 80%
//
//
///* 仅iPad 竖版，以及所有小于（不等于）标准960宽度的平板电脑的竖版 */
//@media only screen and (min-width: 768px) and (max-width: 959px)
//  .panel
//    height: 96%
//
//
///* iPhone 及以下 */
//@media only screen and (max-width: 767px)
//  .panel
//    height: 85%
//
///* 仅iPhone 横版，包括某些平板电脑的竖版 */
//@media only screen and (min-width: 480px) and (max-width: 767px)
//  .panel
//    height: 85%
//
//
///* 仅iphone4 竖版 */
//@media only screen and (max-width: 479px)
//  .panel
//    height: 90%

.mainCard
  //background-color: #FFF
  -webkit-box-shadow: -1px 3px 11px #555
  box-shadow: -1px 3px 11px #555
  box-sizing(border-box)
  height: 100%
  overflow: auto
  -webkit-overflow-scrolling: touch
  padding: 4em 3em

.submitStatus
  padding: 30px
  color: #333
  text-align: center


//.main
//    height 385px
//    overflow auto
//    background-color #fff
//    margin 25px 25px

