#J_Advise
  margin-top: 10px
  border: 0 none
  height: 200px
  width: 80%

.score
  padding-left: 2% !important
  width: 70.5% !important

  span
    display: inline-block
    margin-top: 8px
    margin-left: 8px

#J_ReviewNotice
  position: fixed
  display: block
  text-decoration: none
  left: 0
  bottom: 0
  width: 100%
  height: 80px
  line-height: 80px
  color: #fff
  font-size: 18px
  background: rgba(0,0,0,0.6)
  text-align: center

  .icon-feedback
    vertical-align: middle

  .review-notice-tip
    padding-left: 12px



