.row
  line-height: 40px
  border-bottom: 1px solid #ccc
  background: #d7f2fb
  color: #333
  .column
    display: inline-block
    padding-left: 2.5%
    height: 100%
    width: 70%
    background: #fff
    &:first-child
      text-align: right
      display: block
      float: left
      background: none
      width: 25%

      label
        margin-right: 20px
    input
      line-height: 24px
      border: 0px
      width: 80%

.msg
  text-align: center

.lastrow
  @extend .row
  line-height: 40px
  height: 90px
  .column
    display: inline-block
    padding-left: 20px
    padding-top: 20px
    //height: 100%
    width: 30%
    form
      display: inline-block
    &:nth-child(2)
      width: 50%
    a, a:hover
      text-decoration: none

    .button
      color: #fff
      font-size: 20px
      background-color: #303030
      padding: 7px 20px
      border: 0px
      margin: 0 20px 0 0
      line-height: 20px
      &:hover
        cursor: pointer
