
/* 正常PC液晶屏样式 */
 
/* iPad 及以下，以及所有小于（不等于）960宽度的平板电脑 */
@media only screen and (max-width: 959px) {}
 
/* 仅iPad 竖版，以及所有小于（不等于）标准960宽度的平板电脑的竖版 */
@media only screen and (min-width: 768px) and (max-width: 959px) {}
 
/* iPhone 及以下 */
@media only screen and (max-width: 767px) {}
 
/* 仅iPhone 横版，包括某些平板电脑的竖版 */
@media only screen and (min-width: 480px) and (max-width: 767px) {}
 
/* 仅iphone4 竖版 */
@media only screen and (max-width: 479px) {
	
	
}