[class^="icon-"],
[class*=" icon-"]
    background: url("http://img04.taobaocdn.com/tps/i4/T1ObamXB0fXXX.tgco-62-332.png") 0 0 no-repeat
    display: inline-block
    vertical-align:  top
.icon-code
    background-position: 0 0
    width: 24px
    height: 26px
.icon-add
    background-position: 0 -36px
    width: 32px
    height: 32px
.icon-add-session
    background-position: 0 -83px
    width: 23px
    height: 23px
.icon-edit
    background-position: 0 -120px
    width: 23px
    height: 24px
.icon-del
    background-position: 0 -154px
    width: 22px
    height: 21px
.icon-push
    background-position: 0 -187px
    width: 24px
    height: 22px
.icon-broadcast
    background-position: -37px -187px
    width: 24px
    height: 22px
.icon-back
    background-position: 0 -228px
    width: 14px
    height: 15px
.icon-feedback
    background-position: 0 -228px
    width: 36px
    height: 32px
.icon-star-solid
    background-position: 0 -307px
    width: 24px
    height: 24px
.icon-star-hollow
    background-position: -38px -307px
    width: 24px
    height: 24px