html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-family:inherit;font-size:100%;vertical-align:baseline}
body{line-height:1;color:#000;background:#fff}
ol,ul{list-style:none}
table{border-collapse:separate;border-spacing:0;vertical-align:middle}
caption,th,td{text-align:left;font-weight:normal;vertical-align:middle}
a img{border:none}
[class^="icon-"],[class*=" icon-"]{background:url("http://img04.taobaocdn.com/tps/i4/T1ObamXB0fXXX.tgco-62-332.png") 0 0 no-repeat;display:inline-block;vertical-align:top}
.icon-code{background-position:0 0;width:24px;height:26px}
.icon-add{background-position:0 -36px;width:32px;height:32px}
.icon-add-session{background-position:0 -83px;width:23px;height:23px}
.icon-edit{background-position:0 -120px;width:23px;height:24px}
.icon-del{background-position:0 -154px;width:22px;height:21px}
.icon-push{background-position:0 -187px;width:24px;height:22px}
.icon-broadcast{background-position:-37px -187px;width:24px;height:22px}
.icon-back{background-position:0 -228px;width:14px;height:15px}
.icon-feedback{background-position:0 -228px;width:36px;height:32px}
.icon-star-solid{background-position:0 -307px;width:24px;height:24px}
.icon-star-hollow{background-position:-38px -307px;width:24px;height:24px}
body{font-size:1em;line-height:1.5em}
h1{font-size:1.625em;line-height:1.3846153846153846em}
h3{font-size:1.125em;line-height:1.3333333333333333em}
@media only screen and (max-width: 959px){body{font-size:1.3em}
}@media only screen and (min-width: 768px) and (max-width: 959px){body{font-size:1.2em}
}@media only screen and (max-width: 767px){body{font-size:1.1em}
}@media only screen and (min-width: 480px) and (max-width: 767px){body{font-size:1.1em}
}@media only screen and (max-width: 479px){body{font-size:1em}
}html,body{height:100%;overflow:hidden}
body{background-color:#58a8c1}
header{position:absolute;width:100%;background-color:#303030;height:3.125em;}
header a.back-icon-wrapper{border-color:#fff #303030 #303030 #fff;border-width:1.5625em;border-style:solid;height:0;width:0;line-height:0;position:absolute;top:0;left:0;}
header a.back-icon-wrapper .icon-back{position:absolute;top:-13px;left:-20px}
header a.icon-add{position:absolute;top:.625em;right:1.25em}
header h1{color:#fff;text-align:center;height:1.9230769230769231em;line-height:1.9230769230769231em}
.panel{height:100%}
.mainCard{-webkit-box-shadow:-1px 3px 11px #555;-webkit-box-shadow:-1px 3px 11px #555;box-shadow:-1px 3px 11px #555;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;height:100%;overflow:auto;-webkit-overflow-scrolling:touch;padding:4em 3em}
.submitStatus{padding:30px;color:#333;text-align:center}
.button{color:#fff;font-size:20px;background-color:#303030;padding:7px 20px;border:0 none;margin:0 20px 0 0;line-height:20px;cursor:pointer}
.row{line-height:40px;border-bottom:1px solid #ccc;background:#d7f2fb;color:#333;}
.row .column{display:inline-block;padding-left:2.5%;height:100%;width:70%;background:#fff;}
.row .column:first-child{text-align:right;display:block;float:left;background:none;width:25%;}
.row .column:first-child label{margin-right:20px}
.row .column input{line-height:24px;border:0;width:80%}
.msg{text-align:center}
.lastrow{line-height:40px;height:90px;}
.lastrow .column{display:inline-block;padding-left:20px;padding-top:20px;width:30%;}
.lastrow .column form{display:inline-block}
.lastrow .column:nth-child(2){width:50%}
.lastrow .column a,.lastrow .column a:hover{text-decoration:none}
.lastrow .column .button{color:#fff;font-size:20px;background-color:#303030;padding:7px 20px;border:0;margin:0 20px 0 0;line-height:20px;}
.lastrow .column .button:hover{cursor:pointer}
#J_Advise{margin-top:10px;border:0 none;height:200px;width:80%}
.score{padding-left:2% !important;width:70.5% !important;}
.score span{display:inline-block;margin-top:8px;margin-left:8px}
