.reveal .green {
  color: #91e22e;
}

.reveal .gold {
  color: #8b743d;
}

.reveal .gray {
  color: #ccc;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  font-family: "League Gothic", Impact, sans-serif, "微软雅黑";
  text-transform: none;
}