extends ../layout

block head
    link(type="text/css", rel="stylesheet", href="/party/css/style.css")

block content
    div.panel
        div.mainCard.party-crate
            form#J_PartyForm(method="post")
                div.row
                    div.column
                        label(for="J_PartyName") 名称
                    div.column
                        input#J_PartyName(name="title", placeholder="输入分享会名称", value="#{partyTitle}")
                div.row
                    div.column
                        label(for="J_PartyTime") 时间
                    div.column
                        input#J_PartyName(name="time", type="date", value="#{time}")
                div.row
                    div.column
                        label(for="J_PartyLoc") 地点
                    div.column
                        input#J_PartyLoc(name="location", value="#{location}")

                div.lastrow
                    div.column
                    div.column
                        button.button(type="submit") 创建
                        input(type="hidden", name="id", value="#{id}")
    script
        KISSY.use("party/form", function(S, Form) {
            Form({
                form: "#J_PartyForm"
            });
        });
