extends ../layout

block head
    link(type="text/css", rel="stylesheet", href="/party/css/style.css")
block content
    div.panel.party-list#J_PartyList
    script#J_TemplateParty(type="javascript/template")
        {{#each docs}}
        {{#with this}}
        div.mainCard
            section.party-item
                article.party-info.J_PartyOpts
                    h3.title {{title}}
                    div.party-time 时间: {{formatTime}}
                    div.party-loc 地点: {{location}}
                    i.icon-code.J_ViewOriginal
                    div.party-opts
                        a.opt.icon-edit(href="/party/edit/{{id}}")
                        a.opt.icon-del(href="/api/party/del/{{id}}")

                div.session-list-box(id="J_Party{{id}}Session")
                div.add-session-bar       
                    a.text.large(href="/session/create?partyId={{../id}}")
                        i.icon-add-session
                        新增一个分享
                div.code
                    img(src="http://img02.taobaocdn.com/tps/i2/T1SPeoXE0XXXbgvWvq-249-254.png")
        {{/with}}
        {{/each}}

    script#J_TemplateSession(type="javascript/template")
        ul.session-list
            {{#each sessions}}
            li.J_SessionOpts.ks-draglist-item
                a.session-info(href="/session/{{id}}/?partyId={{../id}}")
                    span.time {{from}} - {{to}}
                    span.title {{title}}
                div.session-opts
                    a.opt.icon-add-session(href="/session/create?partyId={{../id}}")
                    a.opt.icon-edit(href="/session/{{id}}/edit?partyId={{../id}}")
                    a.opt.icon-del(href="/session/del/{{id}}")
                    a.opt.icon-push(href="/session/feedback/{{id}}")
            {{/each}}
        
    script
        KISSY.use("node, party/list, widget/draglist", function(S, Node, List, DragList){
            S.ready(function(){

                List({
                    el: "#J_PartyList",
                    partyTpl: S.one("#J_TemplateParty").html(),
                    sessionTpl: S.one("#J_TemplateSession").html()
                }).render();

            });
        });


