extends ../layout

block head
    link(type="text/css", rel="stylesheet", href="/party/css/style.css")
block content
    div.panel.party-list#J_PartyList(data-id="#{id}")
    script#J_TemplateParty(type="javascript/template")
        {{#each docs}}
        {{#if xcount ===1 }}
        div.mainCard.flip-container.only-one
            div.flip3d.shadow
                section.party-item.flip3d-front
                    div.party
                        article.party-info
                            div.J_PartyOpts 
                                h1.title {{title}}
                                div.party-time 时间: {{formatTime}}
                                div.party-loc 地点: {{location}}
                                a.icon-code.view-qrcode.J_Rotate(href="javascript:;")
                            {{#if isadmin}}
                            div.party-opts
                                a.opt.icon-edit.party-edit(href="/party/edit/{{id}}")
                                a.opt.icon-del.party-del(href="/api/party/del/{{id}}")
                            {{/if}}
                        div.session-list-box(id="J_Party{{id}}Session")
                        {{#if isadmin}}
                        div.add-session-bar       
                            a.text.large(href="/session/create?partyId={{id}}")
                                i.icon-add-session
                                新增一个分享
                        {{/if}}
                        
                section.flip3d-back.J_Rotate
                    div.qrcode-container  
                        div.qrcode(data-url="http://{{host}}/party/{{id}}")(title="http://{{host}}/party/{{id}}")
        {{else}}
        div.mainCard.flip-container
            div.flip3d.shadow
                section.party-item.flip3d-front
                    div.party
                        article.party-info
                            div.J_PartyOpts 
                                h1.title {{title}}
                                div.party-time 时间: {{formatTime}}
                                div.party-loc 地点: {{location}}
                                a.icon-code.view-qrcode.J_Rotate(href="javascript:;")
                            {{#if isadmin}}
                            div.party-opts
                                a.opt.icon-edit.party-edit(href="/party/edit/{{id}}")
                                a.opt.icon-del.party-del(href="/api/party/del/{{id}}")
                            {{/if}}
                        div.session-list-box(id="J_Party{{id}}Session")
                        {{#if isadmin}}
                        div.add-session-bar       
                            a.text.large(href="/session/create?partyId={{id}}")
                                i.icon-add-session
                                新增一个分享
                        {{/if}}
                        
                section.flip3d-back.J_Rotate
                    div.qrcode-container  
                        div.qrcode(data-url="http://{{host}}/party/{{id}}")(title="http://{{host}}/party/{{id}}")
        {{/if}}
            


                    
        {{/each}}

    script#J_TemplateSession(type="javascript/template")
        ul.session-list
            {{#each sessions}}
            li.ks-draglist-item.session-info
                div.J_SessionOpts(data-url="/session/{{id}}/?partyId={{pid}}")
                    span.icon-feedback(id="J_Feedback{{id}}")
                    span.session-info
                        span.time {{from}} - {{to}}
                        span.title {{title}}
                {{#if isadmin}}
                div.session-opts
                    a.opt.icon-add-session(href="/session/create?partyId={{pid}}")
                    a.opt.icon-edit(href="/session/{{id}}/edit?partyId={{pid}}")
                    a.opt.icon-del(href="/session/del/{{id}}")
                    a.opt.icon-push(href="javascript:void(0)",data-id="{{id}}")
                {{/if}}
            {{/each}}
        
    script(src="/party/js/jquery-qrcode.min.js")
    script(src="/global/js/iscroll.js")
    script
        KISSY.use("node, party/list, widget/dragswitch", function(S, Node, List, DragSwitch){
            S.ready(function(){

                List({
                    el: "#J_PartyList",
                    partyTpl: S.one("#J_TemplateParty").html(),
                    sessionTpl: S.one("#J_TemplateSession").html()
                }).render();

            });
        });




