.party-info{background-color:#d7f2fb;background:#cdeefa;border-top-left-radius:5px;border-top-right-radius:5px;padding:1em;position:relative;}
.party-info h3{margin:0 0 .5em}
.party-info .party-time,.party-info .party-loc{margin:.5em 0 .5em}
.party-info .icon-code{position:absolute;right:1em;top:1em}
.party-info div.party-opts{visibility:hidden;position:absolute;top:0;left:0;background-color:rgba(0,0,0,0.2);height:100%;width:100%;}
.party-info div.party-opts .opt{float:left;margin-top:3.125em;margin-left:4.375em;cursor:pointer}
ul.session-list li{border-bottom:1px solid #dbcccd;margin-bottom:0;position:relative;}
ul.session-list li .session-info{font-size:.875em;line-height:1.2857142857142858em;display:block;padding:1em;padding-right:0;text-decoration:none;}
ul.session-list li .session-info span.time{display:block;margin-bottom:5px;color:#58a8c1}
ul.session-list li .session-info span.title{display:block;margin-bottom:0}
ul.session-list li div.session-opts{visibility:hidden;position:absolute;top:0;left:0;background-color:rgba(0,0,0,0.2);height:100%;width:100%;}
ul.session-list li div.session-opts .opt{float:left;margin-top:1.5625em;margin-left:2.1875em;cursor:pointer}
ul.session-list .entry-list-edit-show .session-opts{visibility:visible !important}
div.add-session-bar{padding:1em;}
div.add-session-bar a.text{color:#6c93a0;font-size:1.125em;line-height:1.3333333333333333em;margin-left:5px;text-decoration:none}
div.add-session-bar a.text i.icon-add-session{margin-right:5px}
.code{display:none;padding-top:60px}
.party-item{height:100%;overflow:hidden;background:#fff;-webkit-user-select:none}
