html
body
    height 100%
    color #1D1D1D
.bar
    height 56px
    color #FFF
    background #303030
    h1
        font-size 24px
        font-weight normal
        line-height @height
        color #FFF
        text-align center
    .back
        absolute left 0 top 0;
        display block
        width @height
        height @height
    .btn
        absolute right 0 top 0
        display block
        width @height
        height @height
.panel
    padding 20px
.party-item
    padding-bottom 50px
    margin-bottom 10px
    background #FFF
    border-radius 5px
    .party-info
        background #CDEEFA
        border-top-left-radius 5px
        border-top-right-radius 5px
        padding 10px
        line-height 1.8
        h1
            padding 5px 0
            color #333
            font-size 20px
            a
                color #141110
                margin-right 10px
                font-size 14px
            .session-name
                text-decoration none
                font-size 16px

// party info , add by shuier
mask()
  visibility hidden
  position absolute
  top 0
  left 0
  background-color: rgba(0,0,0,0.2)
  height: 100%
  width: 100%

#session-list-page
  label 
    display inline-block
  #party
    background-color #d7f2fb
    padding 15px
    position relative
    h2.title
      margin-bottom 0
    .icon-code
      position absolute
      right 10px
      top 22px
    div.party-opts
      mask()
      .opt
        float left
        margin-top 50px
        margin-left 70px
        cursor pointer
  ul#session-list
    li 
      border-bottom 1px solid #dbcccd
      margin-bottom 0
      position relative
      a.session-info
        display block
        padding 15px 0 15px 15px
        text-decoration none
        span.time
          display block
          margin-bottom 5px
          color #58a8c1
        span.title
          display block
          margin-bottom 0
      div.session-opts
        mask()
        .opt 
          float left
          margin-top 25px
          margin-left 35px
          cursor pointer
            

  div.add-session-bar
    padding: 15px 0 0 15px

    a.text 
      i.icon-add-session
        margin-right 5px
      color #6c93a0
      height  23px
      line-height 23px
      margin-left 5px
      text-decoration none
#code
  display none
  padding-top 60px


