@import "../../global/css/font.styl"

.party-list
  .mainCard
      padding: 4.8em 0.5em 1.3em 0.7em
      width: 90% 
  .only-one-card
      padding: 4.5em 1em 1.3em 1em
      width: 100%;
  .current-card
      padding-top: 4.2em


.party-info
  background-color #d7f2fb
  padding 1em
  position: relative

  h3
    margin: 0 0  0.5em

  .party-time, .party-loc
    margin: 0.2em 0 0.2em

  .icon-code
    position: absolute
    right: 1em
    top: 1.4em

  div.party-opts
    position absolute
    top 0
    left -9999px
    height: 100%
    width: 100%

    .opt
      float left
      margin-top (50/16)*1em
      margin-left (70/16)*1em
      cursor pointer

  &.hover
    div.party-opts   
      left: 0
      background-color: rgba(0,0,0,0.2)
      transition: background-color 1s ease 
      


.flip-container
  perspective: 10000
  height: 100%
  width: 100%

  &.rotate .flip3d
    transform: rotateY(180deg)

  .flip3d
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
    width: 100%
    height: 100%

    .flip3d-front, .flip3d-back
      backface-visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
      width 100%
      height 100%

    .flip3d-front
      z-index: 0
        

    .flip3d-back
      transform: rotateY(180deg);
      background-color: white;

      .qrcode-container
        position: absolute
        left: 50%
        top: 50%
        .qrcode
          margin-left: -50%
          margin-top: -50%

// qrcode
.view-qrcode
  position: absolute
  right: 8px
  top: 8px
      


.session-list-box
  height: 100%

ul.session-list
  li 
    border-bottom 1px solid #dbcccd
    margin-bottom 0
    position relative
    .session-info
      normal()
      display block
      padding 1em
      padding-right 0
      text-decoration none
      span.time
        display block
        margin-bottom 5px
        color #58a8c1
      span.title
        display block
        margin-bottom 0
    div.session-opts
      position absolute
      top 0
      left -9999px
      height: 100%
      width: 100%
      .opt 
        float left
        margin-top (25 /16)*1em
        margin-left (35/16)*1em
        cursor pointer
    &.hover
      div.session-opts
        left: 0
        background-color: rgba(0,0,0,0.2)
        transition: background-color 1s ease 


  .entry-list-edit-show {

    .session-opts {
      visibility: visible !important
    }
  }
            
div.add-session-bar
  padding: 1em

  a.text 
    i.icon-add-session
      background-position: -3px -85px
      width: 17px
      height: 17px
      margin-right 5px
      margin-top: 2px

    color #6c93a0
    large()
    margin-left 5px
    text-decoration none


.party-item
  //height: 100%
  //overflow: hidden
  background: #fff
  -webkit-user-select: none






