.bar
    h1
        a
            text-decoration none
.party-item
    margin 20px
    .party-info
        color #666
        h1
            padding 5px 0
            color #333
            border-bottom 1px dotted #CCC
            a
                margin-right 10px
                font-size 12px
            .session-name
                text-decoration none
                font-size 16px
