.party-info{background-color:#d7f2fb;border-top-left-radius:5px;border-top-right-radius:5px;padding:1em;position:relative;}
.party-info h3{margin:0 0 .5em}
.party-info .party-time,.party-info .party-loc{margin:.5em 0 .5em}
.party-info .icon-code{position:absolute;right:1em;top:1em}
.party-info div.party-opts{visibility:hidden;position:absolute;top:0;left:0;background-color:rgba(0,0,0,0.2);height:100%;width:100%;}
.party-info div.party-opts .opt{float:left;margin-top:3.125em;margin-left:4.375em;cursor:pointer}
.flip-container{-webkit-perspective:10000;-moz-perspective:10000;-ms-perspective:10000;perspective:10000;}
.flip-container.rotate .flipper{-webkit-transform:rotateY(180deg);-moz-transform:rotateY(180deg);-o-transform:rotateY(180deg);-ms-transform:rotateY(180deg);transform:rotateY(180deg)}
.flip-container .flipper{width:100%;-webkit-transition:.6s;-moz-transition:.6s;-o-transition:.6s;-ms-transition:.6s;transition:.6s;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d;-o-transform-style:preserve-3d;-ms-transform-style:preserve-3d;transform-style:preserve-3d;position:relative;}
.flip-container .flipper .front,.flip-container .flipper .back{-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;backface-visibility:hidden;position:absolute;top:0;left:0;width:100%}
.flip-container .flipper .front{z-index:0}
.flip-container .flipper .back{-webkit-transform:rotateY(180deg);-moz-transform:rotateY(180deg);-o-transform:rotateY(180deg);-ms-transform:rotateY(180deg);transform:rotateY(180deg);}
.flip-container .flipper .back img{width:100%;height:100%}
ul.session-list li{border-bottom:1px solid #dbcccd;margin-bottom:0;position:relative;}
ul.session-list li .session-info{font-size:.875em;line-height:1.2857142857142858em;display:block;padding:1em;padding-right:0;text-decoration:none;}
ul.session-list li .session-info span.time{display:block;margin-bottom:5px;color:#58a8c1}
ul.session-list li .session-info span.title{display:block;margin-bottom:0}
ul.session-list li div.session-opts{visibility:hidden;position:absolute;top:0;left:0;background-color:rgba(0,0,0,0.2);height:100%;width:100%;}
ul.session-list li div.session-opts .opt{float:left;margin-top:1.5625em;margin-left:2.1875em;cursor:pointer}
ul.session-list .entry-list-edit-show .session-opts{visibility:visible !important}
div.add-session-bar{padding:1em;}
div.add-session-bar a.text{color:#6c93a0;font-size:1.125em;line-height:1.3333333333333333em;margin-left:5px;text-decoration:none}
div.add-session-bar a.text i.icon-add-session{margin-right:5px}
.party-item{overflow:hidden;background:#fff;-webkit-user-select:none}
